<div class="tweet">

    <div class="tweet-upper">
      <div class="tweet-user">
        <div class="tweet-user-icon">
          <%= link_to image_tag("robo.jpeg",class: :icon_user), user_path(tweet.user.id) %>
        </div>
        <div class="tweet-user-name">
          <%= link_to tweet.user.nickname, user_path(tweet.user.id),class: :tweet_user_name %>
        </div>
      </div>

      <% if tweet.user == current_user %>
        <div class="tweet-user-menu">
          <%= image_tag("icon_delete2.png", class: :icon_delete) %>
        </div>
      <% end %>

    </div>

    <% if tweet.image.present? %>

    <div class="tweet-image">
      <%= image_tag(tweet.image,class: :tweet_image) %>
    </div>

    <% end %>

    <div class="tweet-tweet">
      <%= tweet.tweet %>
    </div>

    <div class="tweet-bottom">

      <div class="reactions-comment">
        <%= link_to image_tag("icon_comment.png", class: :icon_reaction),new_tweet_comment_path(tweet.id)  %>
        <%= tweet.comments.count %>
      </div>
      <div class="reactions-like", id="reaction-btn<%= tweet.id %>">      
        <%= render partial: "reactions/reaction", locals: { tweet: tweet } %>
      </div>

    </div>

</div>
