<div class="tweet">

    <div class="tweet-upper">
      <div class="tweet-user">
        <div class="tweet-user-icon">
          <%= image_tag("robo.jpeg", class: :icon_user) %>
        </div>
        <div class="tweet-user-name">
          <%= tweet.user.nickname %>
        </div>
      </div>

      <% if tweet.user == current_user %>
      <div class="tweet-user-menu">
        <%= image_tag("icon_delete.png", class: :icon_delete) %>
      </div>
      <% end %>

    </div>

    <% if tweet.image.present? %>

    <div class="tweet-image">
      <%= image_tag(tweet.image,class: :tweet_image) %>
    </div>

    <% end %>

    <div class="tweet-tweet">
      <%= tweet.tweet %>
    </div>

    <div class="tweet-bottom">

    <div class="reactions">
      <%= image_tag("icon_comment.png", class: :icon_reaction) %>
      <%= image_tag("icon_great.png", class: :icon_reaction) %>
    </div>

    

    </div>

</div>
