<div class="mypage">

  <%= form_with model:@user, local: true do |f| %>

  <div class="intro">

    <div class="intro-left">
      <div class="user-image-register">
      </div>
      <%= f.file_field :image, class: :user_image, id:"user-image" %>
    </div>
    
    <div class="intro-right">
    
      <div class="intro-right-top">
        <div class="intro-user-name">
          <%= current_user.nickname %>
        </div>
        <%= f.collection_select(:purpose_id, Purpose.all, :id, :name, {}, {class:"status-select"}) %>
      </div>
      
      <div class="intro-right-content">
        <%= f.text_area :introduction, class:"user-input-field", id:"", placeholder:"（255文字まで)", maxlength:"255" %>
      </div>

      <div class="intro-right-target">
        <div class="input-target">
          <div class="intro-day-text">
            ●目標●
          </div>
          <div class="intro-day">
            <%= f.date_field :target_date, class:"user-date-field", id:"" %>
          </div>
        </div>
        <div class="input-target">
          <div class="intro-bodydata">
            <%= f.text_field :target_weight, class:"input-target-weight-fat", id:"", placeholder:"75.0" %>
            <span class="unit"> kg</span>
          </div>
          <div class="intro-bodydata">
            <%= f.text_field :target_fat, class:"input-target-weight-fat", id:"", placeholder:"25.0" %>
            <span class="unit"> %</span>
          </div>
        </div>
      </div>

      <div class="intro-bottom">

          <div class="icon-edit">
            <%= image_submit_tag("icon_edit.png",class: :icon_edit) %>
          </div>

          <div class="sell-btn-contents">

    </div>

      </div>

    </div>
    
  </div>

  <% end %>

</div>