<div class="mypage">

  <%= form_with model:@user, id: 'new_post', local: true do |f| %>

  <div class="intro">

    <div class="intro-left">
      <div class="user-image-register", id = "previews">
      </div>
      <%= f.file_field :image, class: :user_image %>
    </div>
    
    <div class="intro-right">
    
      <div class="intro-right-top">
        <div class="intro-user-name">
          <%= f.text_field :nickname, placeholder:"例) たろう" %>
        </div>
        <div class="intro-purpose">
          <%= @user.purpose.name %>
        </div>
      </div>
      
      <div class="intro-right-content">
        <%= f.text_area :introduction, class:"user-input-field", id:"", placeholder:"（255文字まで)", maxlength:"255" %>
      </div>

      <div class="input-right-target">
        <div class="input-target">
          <div class="intro-day-text">
            ●目標●
          </div>
          <div class="input-day">
            <%= f.date_field :target_date, class:"input-date-field", id:"" %>
          </div>
        </div>
        <div class="input-target">
          <div class="input-target-bodydata">
            <div class="input-target-bodydata-text">体重</div>
            <div class="input-bodydata">
              <%= f.number_field :target_weight, step: "0.1", class:"input-target-weight-fat", id:"", placeholder:"" %>
              <span class="unit"> kg</span>
            </div>
          </div>
          <div class="input-target-bodydata">
            <div class="input-target-bodydata-text">体脂肪率</div>
            <div class="input-bodydata">
              <%= f.number_field :target_fat, step: "0.1", class:"input-target-weight-fat", id:"", placeholder:"" %>
              <span class="unit"> %</span>
            </div>
          </div>
        </div>
      </div>
      
      <div class="input-bottom">
      </div>

    </div>
    
  </div>

</div>


<div class="main-center">

  <div class="form">

      <div class="form-title_">
        BODY-MAKE サポート用データ
      </div>

      <div class="field">
        <label class="label-text">誕生年</label>
        <%= f.text_field :year_of_birth, placeholder:"例) 1990  ※西暦4桁入力", class: :input_field %>
      </div>

      <div class="field">
        <label class="label-text">身長</label>
        <%= f.number_field :height, step: "0.1", placeholder:"例) 165", class: :input_field %>
      </div>

      <div class="field">
        <label class="label-text">性別</label>
        <%= f.collection_select(:sex_id, Sex.all, :id, :name, {}, {class:"select"}) %>
      </div>

      <div class="field">
        <label class="label-text">目的</label>
        <%= f.collection_select(:purpose_id, Purpose.all, :id, :name, {}, {class:"select"}) %>
      </div>

      <div class="field">
        <label class="label-text">活動レベル</label>
        <%= f.collection_select(:activity_level_id, ActivityLevel.all, :id, :name, {}, {class:"select"}) %>
      </div>

      <div class="form-title_">
        公開・非公開設定
      </div>

      <div class="field">
        <label class="label-text">目標体重・体脂肪率</label>
        <%= f.collection_select(:publish_target_id, PublishTarget.all, :id, :name, {}, {class:"select"}) %>
      </div>

      <div class="field">
        <label class="label-text">日々のデータ（体型変化・体組成推移）</label>
        <%= f.collection_select(:publish_daily_id, PublishDaily.all, :id, :name, {}, {class:"select"}) %>
      </div>

      <div class="field">
        <label class="label-text">つぶやき</label>
        <%= f.collection_select(:publish_tweet_id, PublishTweet.all, :id, :name, {}, {class:"select"}) %>
      </div>

      <div class="actions">
        <%= f.submit "変更する",class:"action-btn" %>
      </div>

    <% end %>
  </div>
</div>