<div class="mypage">

  <div class="intro">

    <div class="intro-left">
      <% if @user.image.present? %>
        <%= image_tag(@user.image, class: "user-image") %>
      <% else %>
        <%= image_tag('account.PNG', class: "user-image") %>
      <% end %>
    </div>
    
    <div class="intro-right">
    
      <div class="intro-right-top">
        <div class="intro-user-name">
          <%= @user.nickname %>
        </div>
        <div class="intro-purpose">
          <%= @user.purpose.name %>
        </div>
      </div>

      <div class="intro-right-content">
        <%= @user.introduction %>
      </div>

      <div class="intro-right-target">
        <div class="target-area">
          <div class="intro-day-text">
            
             ●目標●
            
          </div>
          <div class="intro-day">
          <% if @user.publish_target_id  == 2 || @user.id == current_user.id %>
            <%= @user.target_date %>
          <% end %>
          </div>
        </div>

        <div class="target-area">
          <% if @user.publish_target_id  == 2 || @user.id == current_user.id %>
          <div class="intro-bodydata">
            <%= @user.target_weight.to_f %>
            <span class="unit"> kg</span>
          </div>
          <div class="intro-bodydata">
            <%= @user.target_fat.to_f %>
            <span class="unit"> %</span>
          </div>
          <% end %>
        </div>

        <div class="target-area">
          <div class="intro-day-text">
            ●現在●
          </div>
          <div class="intro-day">
            <% if @latest_data.present? %>
              <%= @now_date %>
            <% else %>
              未登録
            <% end %>
          </div>
        </div>

        <div class="target-area">
          <div class="intro-bodydata">
            <% if @latest_data.present? %>
              <%= @now_weight.to_f %><span class="unit"> kg</span>
            <% else %>
              未登録
            <% end %>

          </div>
          <div class="intro-bodydata">
            <% if @latest_data.present? %>
              <%= @now_fat.to_f %><span class="unit"> %</span>
            <% else %>
              未登録
            <% end %>
          </div>
        </div>
      </div>

      <div class="intro-bottom">

        <!-- 自分のページであれば公開・非公開の表示　-->

        <% if @user.id == current_user.id %>
          <div class="icon-edit">
            <%= link_to image_tag("icon_edit.png",class: :icon_edit), edit_user_path(current_user.id) %>
          </div>
        <% end %>

      </div>

    </div>
    
  </div>

</div>

<% if @user.id == current_user.id && 
      @latest_data.present? && 
      @diff_calorie.present? && 
      @calorie_intake.present? %>

  <%= render 'dailies/calorie_data' %>
<% end %>

<% if @latest_data.present? %>
  <%= render 'dailies/daily_data' %>
<% end %>

