<div class="main-center">
  <h2>ログイン</h2>
</div>

<div class="main-center">

  <div class="form">
    <!-- 投稿フォーム -->
    <%= form_with model: @user, url: user_session_path, local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    
      <!-- メールアドレス入力 -->
      <div class="field">
        <label class="label-text">メールアドレス</label>
        <%= f.email_field :email, placeholder:"ご登録のメールアドレス", class: :input_field, autofocus: true, autocomplete: "email" %>
      </div>

      <!-- パスワード入力 -->
      <div class="field">
        <label class="label-text">パスワード</label>
        <%= f.password_field :password, placeholder:"6文字以上英数字", class: :input_field, autocomplete: "new-password" %>
      </div>

      <!-- パスワード再入力 -->
      <div class="field">
        <label class="label-text">パスワード（確認）</label>
        <%= f.password_field :password_confirmation, placeholder:"同じパスワードを入力してください", class: :input_field, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "ログイン",class:"action-btn" %>
      </div>

    <% end %>
  </div>
</div>