<!-- 基礎代謝・消費カロリー・目標摂取カロリー・マクロ栄養素を表示 -->
<!-- uers/showからrender -->

<div class="calorie-data-main">

  <div class="calorie-data-main-wrap">

    <div class ="calorie-data-title">
      あなたの消費カロリーと摂取カロリー
    </div>

    <!-- 基礎代謝を表示 -->
    <div class="calorie-data-wrap">
      <div class="calorie-data-text">
        基礎代謝
      </div>
      <div class="calorie-data">
        <%= @basal_metabolism.round %><p class="deco_text">kcal</p>
      </div>
    </div>

    <!-- 消費カロリーを表示 -->
    <div class="calorie-data-wrap">
      <div class="calorie-data-text">
        消費カロリー
      </div>
      <div class="calorie-data">
        <%= @calories_burned.round %><p class="deco_text">kcal</p>
      </div>
    </div>

    <!--
    <div class="calorie-data-wrap">
      <div class="calorie-data-text">
        1日のカロリー収支
      </div>
      <div class="calorie-data">
        <%= @diff_calorie.round %><p class="deco_text">kcal</p>
      </div>
    </div>
    -->

    <!-- 目標摂取カロリーを表示 -->
    <div class="calorie-data-wrap">
      <div class="calorie-data-text">
        目標摂取カロリー
      </div>
      <div class="calorie-data">
        <%= @calorie_intake.round %><p class="deco_text">kcal</p>
      </div>
     
    </div>

    <!-- 目標摂取カロリーが基礎代謝を下回っていれば警告表示 -->
     <% if @calorie_intake < @basal_metabolism %>
        
      <p class="caution">
        摂取カロリーが基礎代謝を下回ると、<br>
        健康を害する恐れがありますので、<br>
        目標体重の見直し、目標日の見直しをおすすめします。
      </p>    
    <% end %>

    <!-- マクロ栄養素の提案（要 精度見直し） -->
    <div class ="calorie-data-title">
      マクロ栄養素のご提案
    </div>

    <div class="calorie-data-wrap">
      <div class="calorie-data-text">
        タンパク質
      </div>
      <div class="calorie-data-wrap_macro">
        <div class="calorie-data">
          <%= @protein_g.round %><p class="deco_text">g</p>
        </div>
        <div class="calorie-data">
          <%= @protein_c.round %><p class="deco_text">kcal</p>
        </div>
      </div>
    </div>

    <div class="calorie-data-wrap">
      <div class="calorie-data-text">
        炭水化物（kcal）
      </div>
      <div class="calorie-data-wrap_macro">
        <div class="calorie-data">
          <%= @carbo_g.round %><p class="deco_text">g</p>
        </div>
        <div class="calorie-data">
          <%= @carbo_c.round %><p class="deco_text">kcal</p>
        </div>
      </div>
    </div>

    <div class="calorie-data-wrap">
      <div class="calorie-data-text">
        脂質（kcal）
      </div>
      <div class="calorie-data-wrap_macro">
        <div class="calorie-data">
          <%= @lipid_g.round %><p class="deco_text">g</p>
        </div>
        <div class="calorie-data">
          <%= @lipid_c.round %><p class="deco_text">kcal</p>
        </div>
      </div>
    </div>

  </div>

</div>