<div class="calorie-data">
  基礎代謝<%= @basal_metabolism.round %>
</div>
<div class="calorie-data">
  消費カロリー/1日<%= @calories_burned.round %>
</div>
<div class="calorie-data">
  1日のカロリー収支<%= @diff_calorie.round %>
</div>
<div class="calorie-data">
  目標摂取カロリー<%= @calorie_intake.round %>
</div>
<div class="calorie-data">
  タンパク質（kcal）<%= @protein_c.round %>
</div>
<div class="calorie-data">
  タンパク質（g）<%= @protein_g.round %>
</div>
<div class="calorie-data">
  炭水化物（kcal）<%= @carbo_c.round %>
</div>
<div class="calorie-data">
  炭水化物（g）<%= @carbo_g.round %>
</div>
<div class="calorie-data">
  脂質（kcal）<%= @lipid_c.round %>
</div>
<div class="calorie-data">
  脂質（g）<%= @lipid_g.round %>
</div>
