<div class="daily-data">

  <div class="daily-data-text">
    ●入力日：<%= dailies.input_day %>
  </div>
  <div class="daily-data-text">
    ●体重：<%= dailies.weight.to_f %>kg
  </div>
  <div class="daily-data-text">
    ●体脂肪率：<%= dailies.fat.to_f %>%
  </div>
  
  <div class="daily-data-image">
    <!-- 画像が登録されていれば表示 -->
    <% if dailies.image.present? %>
      <%= image_tag(dailies.image, class: :daily_data_image) %>
    <% else %>
      <div class="daily_data_image"></div>
    <% end %>
  </div>

  <!-- ログインユーザーのデータであれば、削除・編集ボタンを表示 -->
  <% if dailies.user == current_user %>
    <div class="daily-bottom">
      <div class="daily-bottom-btn">
        <%= link_to image_tag("icon_edit.png",class: :icon_daily), edit_daily_path(dailies.id),method: :get %>
      </div>
      <div class="daily-bottom-btn">
        <%= link_to image_tag("icon_delete2.png",class: :icon_daily), daily_path(dailies.id),method: :delete %>
      </div>
    </div>
  <% end %>
  
</div>