<div class="user-data">
  <div class="user-data_">

  <% unless @user.publish_daily_id  == 3 %>
    
    <div class="data-title">
      体型の変化
    </div>

    <div class="body-images", id="">

      <div class="body-image">
        <div class="body-image-text">
          BEFORE
        </div>
        <% if @before_image.image.present? %>
          <%= image_tag(@before_image.image, class: :tweet_image) %>
          <div class="body-image-inputday">
            <%= @before_image.input_day %>
          </div>
        <% end %>
      </div>

      <div class="body-image">
        <div class="body-image-text">
          AFTER
        </div>
        <% if @after_image.image.present? %>
          <%= image_tag(@after_image.image, class: :tweet_image) %>
          <div class="body-image-inputday">
            <%= @after_image.input_day %>
          </div>
        <% end %>
      </div>

    </div>

    <div class="data-title">
      体重・体脂肪率推移
    </div>

    <div class="charts">

      <div class="chart", id="">
        <%= line_chart [
          { 
            name: "体重",
            data: @dailies.map { |record| record.slice(:input_day, :weight).values }
          }
          ], min: 0, max: 100 %>
      </div>

      <div class="chart", id="">
        <%= line_chart [
          { 
            name: "体脂肪率",
            data: @dailies.map { |record| record.slice(:input_day, :fat).values }
          }
        ], min: 0, max: 50 %>
      </div>

    </div>

    <div class="data-title">
      記録
    </div>

    <div class="daily-data-wrapper">

      <%= render partial: "dailies/dailies", collection: @dailies %>
    
    </div>

    <% end %>

  </div>

</div>