<div class="main-center">
  <h2>データ入力</h2>
</div>

<div class="main-center">

  <div class="form">
    <%= form_with model: @daily, url: dailies_path, local: true do |f| %>

      <div class="field">
        <label class="label-text"></label>
        <%= f.date_field :input_day, placeholder:"日付", class: :input_field %>
      </div>

      <div class="field">
        <label class="label-text"></label>
        <%= f.text_field :weight, placeholder:"体重", class: :input_field %>
      </div>

      <div class="field">
        <label class="label-text"></label>
        <%= f.text_field :fat, placeholder:"体脂肪率", class: :input_field %>
      </div>

      <div class="field">
        <%= f.file_field :image, placeholder: "画像" %>
      </div>

      <div class="preview_area", id = "previews" ></div>

      <div class="actions">
        <%= f.submit "入力",class:"action-btn" %>
      </div>

    <% end %>

    <div class="under_bar"></div>

  </div>



</div>


<div class="main-center">
  <div class="main-center">

  <div class="chart", id="">
    <%= line_chart [
      { 
        name: "体重",
        data: @dailies.map { |record| record.slice(:input_day, :weight).values }
      }
      ], min: 0, max: 100 %>
  </div>
    <%= render partial: "dailies", collection: @dailies %>
    

  </div>
  </div>

