<!DOCTYPE html>
<html>
  <head>
    <title>BODY-MAKE APP --β--</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <div class="header_left">
      <div class="title">
        <%= link_to image_tag("logo_muscle.png", class: :logo), root_path %>
        <h1 class="title_name">BODY-MAKE APP</h1>
      </div>
    </div>
    <div class="header_right">
    </div>
  </header>

  <body>
    <%= yield %>
  </body>

  <%= link_to(new_user_registration_path, class: 'sign_up_btn') do %>
    <span class='sign_up_btn_text'>新規登録</span>
    <%= image_tag 'btn.png' , size: '185x50' ,class: "sign_up_btn_icon" %>
  <% end %>


  <footer>

  </footer>

</html>
