<!DOCTYPE html>
<html>
  <head>
    <title>BODY-MAKE APP --β--</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <div class="header_left">
      <div class="title">
        <%= link_to image_tag("logo_muscle.png", class: :logo), root_path %>
        <h1 class="title_name">BODY-MAKE APP</h1>
      </div>
    </div>
    <div class="header_right">
      <% if user_signed_in? %> 
        <%= link_to(destroy_user_session_path, method: :delete, class: 'AAA') do %>
          <span class='btn_text'>ログアウト</span>
        <% end %>
      <% end %>
    </div>
  </header>

  <body>
    <div class="main">
      <div class="main_">
        <%= yield %>
      </div>
    </div>
  </body>

  <% if user_signed_in? %>

    <%= link_to(root_path, class: 'up_btn') do %>
      <span class='btn_text'>マイページ</span>
      <%= image_tag 'btn.png' , size: '185x50' ,class: "btn_icon" %>
    <% end %>

    <%= link_to(root_path, class: 'right_btn') do %>
      <span class='btn_text'>つぶやく</span>
      <%= image_tag 'btn.png' , size: '185x50' ,class: "btn_icon" %>
    <% end %>

    <%= link_to(root_path, class: 'left_btn') do %>
      <span class='btn_text'>データ入力</span>
      <%= image_tag 'btn.png' , size: '185x50' ,class: "btn_icon" %>
    <% end %>

    <%= link_to(root_path, class: 'right_btn') do %>
      <span class='btn_text'>つぶやく</span>
      <%= image_tag 'btn.png' , size: '185x50' ,class: "btn_icon" %>
    <% end %>

  <% else %>

    <%= link_to(new_user_registration_path, class: 'left_btn') do %>
      <span class='btn_text'>新規登録</span>
      <%= image_tag 'btn.png' , size: '185x50' ,class: "btn_icon" %>
    <% end %>

    <%= link_to(new_user_session_path, class: 'right_btn') do %>
      <span class='btn_text'>ログイン</span>
      <%= image_tag 'btn.png' , size: '185x50' ,class: "btn_icon" %>
    <% end %>

  <% end %>
    




  <footer>

  </footer>

</html>
